@media (max-width: 1279px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
    padding: 26px 0;
  }

  .header-list {
    margin-right: 105px;
  }

  .header-list-item:not(:last-child) {
    margin-right: 60px;
  }

  .header__logo {
    background-image: url("../img/logo_1024.png");
    width: 150px;
    height: 48px;
  }

  .hero {
    margin-bottom: 38px;
  }

  .hero-content {
    padding: 160px 78px;
    background-image: url(../img/hero-photo_1024.jpg);
  }

  .hero-title {
    margin-bottom: 17px;
    width: 100%;
    font-size: 60px;
    line-height: 121%;
  }

  .hero-descr {
    margin-bottom: 60px;
    font-size: 20px;
    width: 100%;
    line-height: 24px;
  }

  .hero-btn {
    padding: 18px 30px;
    font-size: 24px;
  }

  .about-descr {
    width: 100%;
    margin-bottom: 60px;
  }

  .about-wrap {
    flex-wrap: wrap;
  }

  .about-left {
    flex-direction: row;
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px;
    background-image: url(../img/about-photo_1024.jpg);
  }

  .about-card__descr {
    margin-right: 150px;
  }

  .about-right {
    width: 100%;
  }

  .about-right__card {
    padding: 65px 102px 63px 315px;
  }

  .about-right__title {
    margin-bottom: 9px;
  }

  .about-right__descr {
    width: 95%;
  }

  .first-card,
  .second-card {
    background-position: 76px;
  }

  .about {
    margin-bottom: 81px;
  }

  .stages {
    margin-bottom: 82px;
  }

  .stages-image {
    padding-top: 10px;
    width: 47%;
    height: 100%;
  }

  .stages-descr {
    margin-bottom: 23px;
    width: 95%;
  }

  .stages-btn-right {
    padding: 21px 37px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions-items {
    display: block;
  }

  .questions-item {
    width: 100%;
    padding: 63px 60px;
  }

  .questions-item:not(:last-child) {
    margin-bottom: 34px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer-title {
    margin-bottom: 22px;
  }

  .footer-wrap__text {
    display: none;
  }

  .footer-wrap__nav {
    width: 41%;
  }

  .footer-wrap__request {
    width: 58%;
    padding-left: 30px;
    padding-top: 2px;
    margin-right: 0;
  }

  .form-input,
  .form-textarea {
    min-width: 540px;
  }

  .form-btn {
    padding: 19px 28px;
    width: 238px;
  }
}

@media (max-width: 1023px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
    padding: 17px 0;
  }

  .header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .header__logo {
    background-image: url("../img/logo_768.png");
    width: 110px;
    height: 35px;
  }

  .header-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-list {
    margin-right: 43px;
  }

  .hero-content {
    padding: 162px 39px;
    padding-bottom: 160px;
    background-image: url(../img/hero-photo_768.jpg);
    border-radius: 24px;
  }

  .hero-title {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-descr {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-btn {
    font-size: 23px;
  }

  .about-descr {
    margin-bottom: 54px;
  }

  .about-left {
    min-height: 650px;
    margin-bottom: 31px;
    background-image: url(../img/about-photo_768.jpg);
    border-radius: 24px;
  }

  .about-card__description {
    border-radius: 24px;
    padding: 34px 40px;
  }

  .about-card__descr {
    margin-right: 35px;
    width: 65%;
  }

  .about-right__card {
    padding: 36px 40px 33px 168px;
    border-radius: 24px;
  }

  .first-card {
    background-image: url(../img/about-first_768.png);
  }

  .second-card {
    background-image: url(../img/about-second_768.png);
  }

  .first-card,
  .second-card {
    background-position: 38px;
  }

  .about {
    margin-bottom: 84px;
  }

  .stages-flex {
    flex-direction: column-reverse;
  }

  .stages__section-title {
    margin-bottom: 31px;
  }

  .stages-wrapper {
    width: 108%;
  }

  .stages-image {
    padding-top: 0;
    width: 100%;
    margin-bottom: 35px;
  }

  .questions {
    margin-bottom: 78px;
  }

  .questions-item {
    padding: 34px 38px;
  }

  .questions-item:not(:last-child) {
    margin-bottom: 31px;
  }

  .questions-item-title {
    margin-bottom: 12px;
  }

  .footer-wrap {
    flex-direction: column-reverse;
  }

  .footer-wrap__nav-items {
    display: none;
  }

  .footer-wrap__request {
    margin-bottom: 48px;
    width: 70%;
    padding-left: 0;
    padding-top: 0;
  }

  .footer-title {
    margin-bottom: 25px;
  }

  .form-input,
  .form-textarea {
    width: 90%;
  }

  .form-textarea {
    margin-bottom: 28px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .header {
    margin-bottom: 18px;
    padding: 16px 0;
    padding-bottom: 40px;
  }

  .header__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 41px;
  }

  .header-nav {
    flex-direction: column-reverse;
    padding-top: 8px;
  }

  .header-link {
    line-height: 20px;
    white-space: nowrap;
  }

  .header-list {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 40px;
    position: absolute;
    left: 15px;
    bottom: -40px;
    max-width: calc(100% - 15px);
    overflow: auto;
  }

  .header-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .header-list-item {
    align-self: center;
  }

  .hero {
    margin-bottom: 64px;
  }

  .hero-content {
    align-items: center;
    padding: 61px 20px;
    padding-bottom: 58px;
    background-image: url(../img/hero-photo_320.jpg);
    border-radius: 16px;
  }

  .hero-title {
    margin-bottom: 6px;
    font-size: 20px;
    text-align: center;
  }

  .hero-descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 34px;
    text-align: center;
  }

  .hero-btn {
    font-size: 12px;
    border-radius: 8px;
    padding: 6px 24px;
    width: 162px;
    min-height: 41px;
  }

  .section-title {
    font-size: 24px;
    line-height: 20px;
  }

  .about-title {
    margin-bottom: 26px;
  }

  .about-descr {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .about-left {
    min-height: 200px;
    margin-bottom: 211px;
    background-image: url(../img/about-photo_320.jpg);
    border-radius: 16px;
    position: relative;
  }

  .about-card__description {
    align-items: center;
    padding: 0;
  }

  .about-card__descr {
    width: 100%;
    line-height: 28px;
    position: absolute;
    margin-right: 11px;
    padding-top: 174px;
    padding-bottom: 20px;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }

  .about-link {
    position: absolute;
    padding: 11px 38px;
    top: 180%;
    font-size: 12px;
    color: #f90;
    border-radius: 8px;
    width: 162px;
    height: 40px;
  }

  .about-right__card {
    padding: 83px 0 0 0;
    border: none;
  }

  .about-right__card:not(:last-child) {
    margin-bottom: 11px;
  }

  .about-right__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 118%;
  }

  .about-right__descr {
    width: 102%;
    font-size: 14px;
  }

  .first-card {
    background-image: url(../img/about-first_320.png);
  }

  .second-card {
    background-image: url(../img/about-second_320.png);
  }

  .first-card,
  .second-card {
    background-position: 0 21px;
  }

  .about {
    margin-bottom: 64px;
  }

  .stages {
    margin-bottom: 64px;
  }

  .stages__section-title {
    margin-bottom: 24px;
  }

  .stages-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
  }

  .stages-descr {
    margin-bottom: 24px;
    width: 90%;
    font-size: 14px;
  }

  .stages-btn-left {
    margin-right: 6px;
    font-size: 12px;
    border-radius: 8px;
    padding: 14px 38px;
    width: 162px;
    height: 40px;
  }

  .stages-btn-right {
    font-size: 12px;
    border-radius: 8px;
    padding: 14px 25px;
    width: 118px;
    height: 39px;
  }

  .stages-image {
    margin-bottom: 12px;
  }

  .questions {
    margin-bottom: 57px;
  }

  .questions-title {
    margin-bottom: 26px;
  }

  .questions-item {
    padding: 0;
    border: none;
  }

  .questions-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 33px;
  }

  .questions-item-title {
    margin-bottom: 6px;
    width: 102%;
    font-weight: 500;
    font-size: 18px;
  }

  .questions-item-descr {
    font-size: 14px;
  }

  .footer {
    padding: 11px 0;
    padding-bottom: 47px;
  }

  .footer-title {
    margin-bottom: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form-input,
  .form-textarea {
    min-width: 290px;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 229%;
  }

  .form-textarea {
    margin-bottom: 25px;
  }

  .form-btn {
    padding: 6px 16px;
    margin-right: 0;
    margin-bottom: 12px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    border-radius: 8px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .footer-wrap {
    align-items: center;
  }

  .footer-wrap__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo-link {
    display: block;
    width: 131px;
    height: 42px;
    margin-bottom: 16px;
  }

  .footer-wrap__nav-socs {
    display: flex;
  }

  .footer-wrap__request {
    margin-bottom: 0;
    min-width: 290px;
    padding-top: 25px;
  }

  .footer-wrap__nav-social:not(:last-child) {
    margin-right: 16px;
  }

  .footer-wrap__nav-social svg {
    width: 40px;
    height: 40px;
  }

  .form-checkbox__text {
    padding-left: 18px;
  }
}
